/11 Arrays Exercise/src/.~lock.emailText4.txt#
/11 Arrays Exercise/src/activation.jar
/11 Arrays Exercise/src/emailText.txt
/11 Arrays Exercise/src/emailText2.txt
/11 Arrays Exercise/src/emailText3.txt
/11 Arrays Exercise/src/emailText4.txt
/11 Arrays Exercise/src/mail.jar
